---
import Layout from "../../layouts/Layout.astro";
import { sanityClient } from "sanity:client";
import React from "react";
import { addToCart } from "../../components/UserContext";
import { type Product } from "../../types/types";
import { AddToWishlist } from "../../components/ReactComponents/Header/UserWishlistIcon";
import { AddtoCart } from "../../components/ReactComponents/ProductListing";
import ProductSizes from "../../components/ProductSizes"
import urlFor from "../../utils/urlFor";

export const prerender = true;
export async function getStaticPaths() {
  const products: Product[] = await sanityClient.fetch(`*[_type == "product"]`);
  return products.map(
    ({
      slug,
      title,
      price,
      images,
      image,
      color,
      description,
      availability,
      sizes,
      material,
    }) => {
      return {
        params: { slug: slug.current },
        props: {
          title,
          price,
          images,
          image,
          color,
          description,
          availability,
          sizes,
          material,
        },
      };
    },
  );
}
const { slug } = Astro.params;
const {
  title,
  price,
  images,
  image,
  color,
  description,
  availability,
  sizes,
  material,
} = Astro.props;

const structuredSizes = [];
for (let i = 0; i < sizes.length; i += 2) {
  structuredSizes.push({
    size: sizes[i],
    stock: sizes[i + 1],
  });
}

const productDetails = {
  slug: slug,
  title: title,
  price: price,
  color: color,
  size: '',
  image: image,
};
---

<Layout title=`${slug} - Fashion Culture`>
  <div class="product-container">
    <div class="product-wrapper">
      <div class="product-images">
        {
          images.map((image) => (
            <div>
              <img class="product-image" src={urlFor(image).url()} alt="" />
            </div>
          ))
        }
        <a class="prev">&#10094;</a>
        <a class="next">&#10095;</a>
      </div>
      <div class="product-info">
        <div>
          <p>{title}</p>
          <p>${price}</p>
        </div>
        <p>{description}</p>
        <p>Select a size:</p>
        <ProductSizes sizes={structuredSizes} client:load/>
        <AddToWishlist client:only />
        <AddtoCart productDetails={productDetails} client:load />
      </div>
    </div>
  </div>

  <div>
    <p>You might also be interested in:</p>
  </div>
</Layout>
<script type="module">
  // carousel of images
  let slideIndex = 1;
  showSlides(slideIndex);
  const prevBtn = document.querySelector(".prev");
  const nextBtn = document.querySelector(".next");

  prevBtn.addEventListener("click", () => showSlides((slideIndex += -1)));
  nextBtn.addEventListener("click", () => showSlides((slideIndex += 1)));

  function showSlides(n) {
    let slides = document.querySelectorAll(".product-image");
    if (n > slides.length) {
      slideIndex = 1;
    }
    if (n < 1) {
      slideIndex = slides.length;
    }
    for (let slide of slides) {
      slide.style.display = "none";
    }
    slides[slideIndex - 1].style.display = "block";
  }

  // select size
  document.addEventListener("DOMContentLoaded", function () {
    const sizeOptions = document.querySelectorAll(".size-option");
    sizeOptions.forEach((option) => {
      option.addEventListener("click", function () {
        // Remove 'selected' class from all options
        sizeOptions.forEach((opt) => opt.classList.remove("selected"));

        // Add 'selected' class to the clicked option
        this.classList.add("selected");
      });
    });
  });
</script>

<style>
  .product-container {
    display: flex;
    height: 80vh;
    flex-direction: column;
    gap: 40px;
    min-width: 300px;
    justify-content: center;
    align-content: center;
  }
  .product-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .product-images {
    position: relative;
  }
  .product-image {
    display: none;
    border-radius: 2px;
    max-width: 100%;
    max-height: 600px;
    aspect-ratio: 0.5;
    object-fit: cover;
  }
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: rgb(10, 10, 10);
    background-color: #fff;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev:hover,
  .next:hover {
    background-color: rgba(214, 214, 214, 0.8);
  }
  .active,
  .dot:hover {
    background-color: #d3d2d2;
  }
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  .product-info p {
    line-height: 1.5;
  }
  .product-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 12px;
  }
  .product-sizes-list {
    display: flex;
    list-style-type: none;
  }
  .product-sizes-list li {
    cursor: pointer;
    padding: 8px 12px;
    transition:
      background-color 0.3s,
      color 0.3s;
    background-color: transparent;
    border: 1px solid #fff;
  }

  .product-sizes-list li:hover {
    background-color: #f0f0f0;
  }

  .product-sizes-list li.selected {
    border: 1px solid #000;
  }

  @media screen and (min-width: 600px) {
    .product-container {
    }
    .product-wrapper {
      flex-direction: row;
      justify-content: space-around;
      align-content: center;
    }
    .product-info {
      justify-content: center;
      max-width: 300px;
    }
    .product-images {
    }
  }
  @media screen and (min-width: 1024px) {
    .product-wrapper {
      justify-content: space-between;
      align-content: center;
    }
    .product-info {
      padding: 0px 100px;
    }
  }

  @media only screen and (min-width: 1200px) {
    .product-wrapper {
      justify-content: space-evenly;
      align-content: center;
    }
    .product-info {
      padding: 0px 0px;
    }
  }
</style>
